<section class="answer">
    <div class="container">
        <div class="answer-test-name">
            <p>Результат прохождения теста</p>
            <img src="/images/small-gray-arrow.png" alt="Стрелка">
            <span id="test-name">Тест №1. “JavaScript: Начальный уровень”</span>
        </div>
        <div class="answer-text">
            <div class="answer-text-title"><span>Правильные ответы</span> к тесту</div>
            <div class="answer-text-user">Тест выполнил <span id="user-data">Роман Чернов, roman@itlogia.ru</span></div>
        </div>
        <div class="answer-test-questions">
        </div>
        <a href="#/result" class="right-answer">
            <div class="right-answer-text">Обратно к моему результату теста</div>
            <img src="/images/small-arrow.png" alt="Стрелка">
        </a>
    </div>
</section>