body {
    margin: 0;
    font-family: 'Museo Sans Cyrl', sans-serif;
    color: #333333;
}

a {
    color: #6933DC;
}

@font-face {
    src: url('../fonts/MuseoSansCyrl500.ttf');
    font-family: 'Museo Sans Cyrl';
}

@font-face {
    src: url('../fonts/MuseoSansCyrl700.ttf');
    font-family: 'Museo Sans Cyrl Bold';
}

.header {
    padding: 42px 0 40px;
    border-bottom: 1px solid #dcdcf3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.big-title {
    font-family: "Museo Sans Cyrl Bold", sans-serif;
    font-size: 54px;
    line-height: 65px;
}

.big-title span {
    color: #6933DC;
}

.common-title {
    font-family: 'Museo Sans Cyrl Bold', sans-serif;
    font-size: 48px;
    line-height: 58px;
    color: #333333;
}

.common-title span {
    color: #6933DC;
}

.button {
    padding: 14px 35px;
    background: #6933dc;
    border-radius: 6px;
    font-size: 17px;
    line-height: 20px;
    color: #fff;
    border: 0;
    transition: .4s;
    cursor: pointer;
    text-decoration: none;
}

.button:disabled {
    background-color: #e2dfe7;
    cursor: not-allowed;
}

a.button {
    display: inline-block;
}

.button:hover {
    background: #32098a;
}

.button-transparent {
    background: transparent;
    color: #6933DC;
    border: 1px solid #6933DC;
}

.button-transparent:disabled {
    background: transparent;
    color: #e2dfe7;
    border: 1px solid #e2dfe7;
}

.button-transparent:hover {
    background: #6933DC;
    color: #fff;
}

.right-answer {
    align-self: end;
    gap: 13px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.footer {
    text-align: center;
    padding: 40px 0;
    font-size: 13px;
    line-height: 16px;
    color: #dcdcf3;
}

.disabled-link {
    pointer-events: none;
    cursor: default;
    color: #888888 !important;
    text-decoration: none;
}

.disabled-link img {
    display: none;
}